.indicators-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: darkorange;
  background-color: rgba(128, 128, 128, 0.3);
}

.indicators-wrapper {
  display: flex;
  flex-direction: row;
  width: auto;
  margin-bottom: 10px;
  padding: 10px;
  color: darkorange;
  background-color: rgba(128, 128, 128, 0.3);
}

.admin-user-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

badge {
  margin-left: 4px;
}

.indicator {
  display: inline-flex;
  padding: 4px 10px;
  margin-bottom: 6px;
}

.admin-users-col2,
.admin-tutos-col2 {
  display: block;
  width: 100%;
}

.admin-user-cardh,
.admin-tuto-cardh {
  display: inline-flex;
  width: 100%;
  padding: 2px;
  margin-bottom: 6px;
}

.admin-user-picture,
.admin-tuto-picture {
  display: block;
}
.admin-user-picture > img,
.admin-tuto-picture > img {
  width: 100%;
  width: -moz-available; /* For Mozzila */
  width: -webkit-fill-available; /* For Chrome */
  width: stretch; /* no prefix */
}

.admin-user-descript,
.admin-tuto-descript {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-left: 15px;
}
