.indicators-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: darkorange;
  background-color: rgba(128, 128, 128, 0.3);
}

.indicators-wrapper {
  display: flex;
  flex-direction: row;
  width: auto;
  margin-bottom: 10px;
  padding: 10px;
  color: darkorange;
  background-color: rgba(128, 128, 128, 0.3);
}

.admin-user-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.indicator {
  display: inline-flex;
  padding: 4px 10px;
  margin-bottom: 6px;
}

.admin-card-footer {
  display: flex;
  justify-content: space-between;
}

.admin-users-col2,
.admin-tutos-col2 {
  display: block;
  width: 100%;
}

.admin-user-cardh,
.admin-tuto-cardh {
  display: inline-flex;
  width: 100%;
  padding: 2px;
  margin-bottom: 6px;
  justify-content: space-between;
}

.admin-user-picture,
.admin-tuto-picture {
  display: block;
}
.admin-user-picture > img,
.admin-tuto-picture > img {
  width: 100%;
  width: -moz-available; /* For Mozzila */
  width: -webkit-fill-available; /* For Chrome */
  width: stretch; /* no prefix */
}

.admin-user-descript,
.admin-tuto-descript {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-left: 15px;
}

.admin-usercard-block {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 30%; 
  padding: 6px;
  color: #ffffff;
  background-color: #343a40;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
  border-color: #747a90;
}

.admin-usercard-block::before {
  position: relative;
  content: " ";
  top: -14px;
  height: 14px;
  width: 80%;
}

.aub-success::before {
  background: rgb(0,0,0);
  background: linear-gradient(-5deg, rgba(0,0,0,1) 0%, rgb(0, 255, 85) 100%);
}
.aub-infos::before {
  background: rgb(0,0,0);
  background: linear-gradient(-5deg, rgba(0,0,0,1) 0%, rgb(0, 153, 255) 100%);
}
.aub-warning::before {
  background: rgb(0,0,0);
  background: linear-gradient(-5deg, rgba(0,0,0,1) 0%, rgb(242, 255, 0) 100%);
}
.aub-danger::before {
  background: rgb(0,0,0);
  background: linear-gradient(-5deg, rgba(0,0,0,1) 0%, rgb(255, 0, 13) 100%);
}